* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#container {
  margin: 0 auto;
  min-height: 100vh;
  width: 80%;
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
  grid-template-rows: auto auto 7fr auto;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

#container > header {
  grid-area: header;
  background-color: #000000;
  color: #ffffff;
}

#container > header {
  display: grid;
  align-items: center;
  grid-template-columns: auto 2fr;
}

#container > header > div > img {
  grid-area: img;
}

#container > header > div > h1 {
  text-align: center;
  grid-area: title;
  font-size: 50px;
}

#container > nav {
  grid-area: nav;
  color: #4e4e4e;
  background-color: #3d3f3d;
  border-bottom: 3px solid #00b09b;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

#logo {
  height: 150px;
}

#container > nav > ul > li:hover {
  background-color: #4ee10e;
  background-image: linear-gradient(
    45deg,
    #4ee10e 0%,
    #fffb7d 50%,
    #038618 100%
  );
  transition: 2s;
  cursor: pointer;
}

#container > nav > ul > li {
  padding: 10px;
  display: inline-block;
  font-size: 25px;
}

#container > main {
  grid-area: main;
  color: #000;
  background-color: #fef0ba;
  padding: 20px;
  text-align: justify;
}

#container > main p {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
}

#container > main h2 {
  display: block;
  margin-bottom: 20px;
  font-size: 35px;
}

#container footer {
  grid-area: footer;
  border-top: 3px solid #00b09b;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  padding: 20px;
  font-size: 20px;
  color: #4e4e4e;
}

#video {
  display: block;
  margin: auto;
  width: 40%;
  height: 350px;
}

.link {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  text-align: center;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.link:hover {
  background-color: #5cbf2a;
}
.link:active {
  position: relative;
  top: 1px;
}

@media (max-width: 900px) {
  #container {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";

    grid-template-rows: auto auto 6fr auto;
  }


  
  #video {
    width: 80%;
  }
}
